body {
  font-family: Karla; }

h1 {
  font-size: 2.7em;
  padding: .6em 0; }

h2 {
  font-size: 1.6em;
  padding: .6em 0; }

a {
  color: #000; }

.grid_12, .textBox, .displayBox, .exampleBox, .summary, .summaryText, .columnContainer, .main {
  width: 100%;
  float: left; }

.grid_11, .graph {
  width: 91.666%;
  float: left; }

.grid_10 {
  width: 83.333%;
  float: left; }

.grid_9 {
  width: 75%;
  float: left; }

.grid_8 {
  width: 66.666%;
  float: left; }

.grid_7 {
  width: 58.333%;
  float: left; }

.grid_6, .columnHalf {
  width: 50%;
  float: left; }

.grid_5, .displayBoxText, .social li {
  width: 41.666%;
  float: left; }

.grid_4, .listRow li {
  width: 33.333%;
  float: left; }

.grid_3, .sideMenu, .logoList {
  width: 25%;
  float: left; }

.grid_2 {
  width: 16.666%;
  float: left; }

.grid_1, .persistNav, .movePosition, .move2, .navArrow {
  width: 8.333%;
  float: left; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.center, .textBox, .graph, .logoList {
  margin: 0 auto;
  float: none; }

.clearfx:after {
  content: ' ';
  display: block;
  clear: both; }

.clear, .process {
  clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: #9a9a9a; }

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #fff;
  font-family: Karla;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block;
  width: 100%; }

p {
  line-height: 1.5em;
  margin-bottom: 1em;
  font-size: 3em; }
  @media screen and (min-width: 62em) {
    p {
      font-size: 1em; } }

footer {
  clear: both; }

h1, h2 {
  padding: 0 .5em; }

@font-face {
  font-family: Karla;
  src: url(../fonts/Karla-Regular.ttf); }
@font-face {
  font-family: Corbert;
  src: url(../fonts/CorbertCondensed-Regular.otf); }
@font-face {
  font-family: Walkway;
  src: url(../fonts/Walkway_Bold.ttf); }
.primaryColor {
  color: #e84141; }

.secondaryColor {
  color: #189c5a; }

.darkGray {
  color: #272727; }

.heading, .heading2 {
  padding: 0.5rem;
  text-align: left;
  color: silver;
  font-size: 8em;
  font-family: Walkway; }
  .heading h1, .heading2 h1 {
    display: inline-block;
    color: silver; }
  @media screen and (min-width: 62em) {
    .heading, .heading2 {
      font-size: 4.8em; } }

.heading2 {
  text-align: center;
  color: silver; }

.subHeading, .subHeading2 {
  padding: 0.5rem;
  text-align: left;
  display: inline-block;
  font-size: 3.2em;
  font-family: Walkway; }
  .subHeading h1, .subHeading2 h1 {
    display: inline-block; }

.subHeading2 {
  text-align: center;
  font-size: 1.6em; }

.projectTitleText {
  color: #fff;
  position: absolute;
  top: 0em;
  left: .2em; }
  .projectTitleText:hover {
    color: #189c5a;
    transition: 1s;
    content: "  Go home."; }

.navLink {
  color: #fff; }
  .navLink:hover {
    color: #189c5a;
    transition: .6s; }

.box {
  overflow: hidden; }

.header, .projectHeader {
  padding: 4em;
  color: #fff;
  text-align: left; }

.projectHeader {
  padding: .5em;
  text-align: right;
  background-color: silver;
  margin-bottom: 10em; }

.subHeader {
  padding: 2em;
  background-color: #fff;
  color: #272727;
  text-align: right;
  border: 2px solid #272727; }

.contentBox {
  color: #272727;
  text-align: center; }

.textBox {
  background-color: transparent;
  padding: 0 0; }

.projectNav {
  padding-top: 6em;
  display: block;
  position: relative; }

.persistNav {
  visibility: hidden;
  position: fixed;
  top: 10px;
  right: 0;
  background-color: silver;
  z-index: 100; }
  @media screen and (min-width: 62em) {
    .persistNav {
      visibility: visible; } }

.persistNavList li {
  padding: .5em; }
  .persistNavList li a {
    color: #272727; }

.projectTagList li {
  display: inline-block;
  background-color: #272727;
  color: #fff;
  padding: .5em; }

.displayBox {
  padding: 1em;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  border-bottom: 1px solid #272727; }
  .displayBox h1 {
    text-align: center; }

.displayBoxText {
  padding: 2em; }

.exampleBox {
  padding: 1em;
  text-align: center; }
  @media screen and (min-width: 62em) {
    .exampleBox {
      width: 50%; } }

.summary {
  padding: 2em 0em;
  text-align: center; }

.summaryText {
  padding: 0 3em; }
  @media screen and (min-width: 62em) {
    .summaryText {
      width: 50%; } }

.projectMenu {
  padding: 1em;
  display: block; }

.sideMenu {
  background-color: #272727;
  float: left; }
  .sideMenu li {
    font-size: 1em;
    text-align: left;
    padding: 1.6em;
    cursor: pointer; }
    .sideMenu li:hover {
      color: #fff;
      transition: .8s;
      text-shadow: 0px 0px 8px #fff; }

.process {
  padding: 5em 10em;
  text-align: center; }

.about {
  padding: 1em; }
  @media screen and (min-width: 62em) {
    .about {
      padding: 10em 20em; } }

.columnHalf {
  padding: 2em; }

.skillsList {
  padding: 5em .2em;
  background-color: #272727;
  color: #fff; }
  @media screen and (min-width: 62em) {
    .skillsList {
      padding: 10em 5em; } }

.social {
  transform: rotate(0); }
  .social li {
    font-size: 3em;
    text-align: center;
    float: right;
    margin: .5em .5em;
    transform: rotate(0); }
    @media screen and (min-width: 62em) {
      .social li {
        font-size: 1em;
        width: 15%;
        transform: rotate(15deg); } }
  @media screen and (min-width: 62em) {
    .social {
      transform: rotate(-15deg); } }

.primaryButton {
  background-color: #189c5a;
  color: #fff;
  padding: 1em;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 5px; }
  .primaryButton:hover {
    color: #272727; }
  .primaryButton:active {
    background-color: #117041; }

.graph li {
  font-size: 3em;
  color: #fff;
  padding: .5em;
  margin: .3em;
  text-align: left; }
@media screen and (min-width: 62em) {
  .graph {
    width: 33.333%; }
    .graph li {
      font-size: 1em; } }

.highest {
  background: linear-gradient(to right, #e84141 95%, white 90.1%);
  background: -moz-linear-gradient(to right, #e84141 95%, white 90.1%); }

.high {
  background: linear-gradient(to right, #e84141 90%, white 90.1%);
  background: -moz-linear-gradient(to right, #e84141 90%, white 90.1%); }

.medium {
  background: linear-gradient(to right, #189c5a 85%, white 85.1%);
  background: -moz-linear-gradient(to right, #189c5a 85%, white 85.1%); }

.developing {
  background: linear-gradient(to right, #189c5a 70%, white 70.1%);
  background: -moz-linear-gradient(to right, #189c5a 70%, white 70.1%); }

.desktop {
  border-top: 20px solid #272727;
  border-radius: 5px 5px 0 0;
  box-shadow: -5px 5px 8px 1px #9a9a9a; }

.rotate15 {
  transform: rotate(15deg); }

.rotate-15, .projectTitle {
  transform: rotate(-15deg); }

.skew {
  transform: matrix(1, -0.4, 0, 1, 1, 0); }

.tiltedContainer {
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.tiltedSection, .tiltedSectionRed {
  width: 200%;
  height: 800px;
  transform: rotate(-15deg);
  background-color: #272727;
  position: absolute;
  top: -300px;
  left: -600px;
  z-index: -1; }
  @media screen and (min-width: 62em) {
    .tiltedSection, .tiltedSectionRed {
      top: -400px; } }

.tiltedSectionRed {
  transform: rotate(15deg);
  background-color: #e84141;
  z-index: -2; }

.tiltedContainer2 {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0em;
  overflow: hidden;
  z-index: 1; }

.tiltedSection2 {
  width: 200%;
  height: 800px;
  transform: rotate(-15deg);
  background-color: #272727;
  position: absolute;
  top: 1000px;
  left: -600px;
  z-index: -1;
  visibility: hidden; }
  @media screen and (min-width: 62em) {
    .tiltedSection2 {
      top: 900px;
      visibility: visible; } }

.projectTitle {
  background-color: #272727;
  position: absolute;
  width: 70%;
  top: -8em;
  left: -3em;
  padding: 7em; }

.tiltedFooter {
  position: relative; }
  @media screen and (min-width: 62em) {
    .tiltedFooter {
      top: 5em;
      transform: rotate(15deg);
      left: 50px; } }

.tiltedList {
  position: absolute;
  top: 2em;
  right: 2em; }
  @media screen and (min-width: 62em) {
    .tiltedList {
      top: 15em; } }

@media screen and (min-width: 62em) {
  .unrotate {
    transform: rotate(15deg); } }

.box1 {
  position: relative;
  top: 50px;
  right: 0px; }

.absoluteBox {
  position: relative;
  overflow: hidden; }

.main {
  position: absolute;
  top: 45em;
  left: 0; }
  @media screen and (min-width: 62em) {
    .main {
      top: 38em; } }

.movePosition, .move2 {
  float: right;
  position: absolute;
  top: 30em;
  right: 5em; }
  @media screen and (min-width: 62em) {
    .movePosition, .move2 {
      top: 22em; } }

.move2 {
  top: 35em; }
  @media screen and (min-width: 62em) {
    .move2 {
      top: 27em; } }

.offLeft, .offRight {
  position: absolute;
  top: 0;
  left: -4000px; }

.offRight {
  left: 6000px; }

.slide, .back {
  position: absolute;
  top: 20em;
  left: 80%;
  z-index: 3; }
  @media screen and (min-width: 62em) {
    .slide, .back {
      top: 20em; } }

.back {
  left: 10%; }

.logoList {
  padding: 2em 0; }

.listRow li {
  padding: 0 1em;
  display: inline-block; }
@media screen and (min-width: 62em) {
  .listRow {
    display: inline-block; } }

/*# sourceMappingURL=app.css.map */
